*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(224, 224, 224);
}

.header{
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
}

.main-content{
    height: 600px;
    width: 100%;
    display: flex;
}