@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.about{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
}

.info{
    width: 100%;
    height: 70vh;
    margin-left: 0;
}

.tech{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -5vh;
}

.tech h2{
    height: 12vh;
    padding: 20px 0px 20px 50px;
}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutMe h2{
    margin-top: 2vh;
    margin-bottom: 0;
}

.self{
    height: 40vh;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.photo{
    padding: 50px;
    height: 100%;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.placeholder{
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}

.logos{
    height: 28vh;
    padding: 20px 50px;
    margin-left: 0;
}

.logos .col{
    align-content: center;
    height: 100%;
}

.rounded{
    width: 100%;
    margin-bottom: 8vh;
}

.img-fluid{
    max-height: 100px;
}

@media all and (min-width: 300px) and (max-width: 449px){

    .info{
        height: 100vh;
    }

    .self{
        height: auto;
    }

    .about{
        height: 200vh;
    }

    .aboutMe{
        justify-content: center;
        height: 100vh;
    }

    .photo{
        display: none;
    }

    .tech{
        height: 100vh;
        margin-top: 0;
    }

    .tech h2{
        height: 12vh;
        padding: 20px;
    }

    .logos{
        height: 88vh;
        padding-top: 0;
    }

    .logos .col-12{
        margin-top: 5vh;
    }
}

@media all and (min-width:450px) and (max-width:599px){

    .info{
        height: 100vh;
    }

    .rounded{
        margin-bottom: 0;
    }

    .about{
        height: 200vh;
    }

    .tech{
        height: 100vh;
        margin-top: 10vh;
    }

    .photo{
        height: 50vh;
    }

    .aboutMe{
        height: 50vh;
    }

    .aboutMe h2{
        margin-top: -3vh;
    }

    .logos{
        height: 88vh;
    }
}

@media all and (min-width:600px) and (max-width:999px){

    .info{
        height: 100vh;
    }

    .rounded{
        margin-bottom: 0;
    }

    .photo{
        height: 55vh;
        padding: 0;
    }

    .about{
        height: 135vh;
    }

    .aboutMe{
        height: 45vh;
    }

    .tech{
        margin-top: 0;
    }

    .logos{
        padding: 0;
    }
}