@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;500&display=swap');

*{
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
}

.contenedor{
    background-color: #ebebeb;
    height: 100vh;
    display: flex;
    flex-direction: column;
}