@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.contact-bg{
    background-color: lightgray;
    height: auto;
}

.contact{
    width: 80vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contact h2{
    padding: 50px 50px 10px 50px;
    text-align: center;
}

.contact h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.redes{
    height: 20vh;
    padding: 40px 100px;
    width: 50vw;
    margin: 0 auto;
}

.redes .col{
    text-align: center;
}

.row{
    justify-content: center;
}

.nav{
    flex-wrap: nowrap;
}

.onHoverLinks:hover{
    filter: invert(1);
    background-color: white;
    border-radius: 15%;
}

@media all and (min-width:300px) and (max-width: 400px){
    .contact-bg{
        height: 60vh;
    }
}

@media all and (min-width:401px) and (max-width: 449px){
    .contact-bg{
        margin-top: -30vh;
    }
}

@media all and (min-height:750px) and (max-height:999px){
    .contact-bg{
        margin-top: -35vh;
    }
}

@media all and (min-width:450px) and (max-width:600px){
    .contact{
        height: 30vh;
    }

    .contact-bg{
        height: 50vh;
    }
}

@media all and (min-width:600px) and (max-width:999px){

    
}