*{
    scroll-behavior: smooth;
}

.navbarExpanded{
    background-color: rgba(0, 0, 0, 0.178);
}

.nav-link{
    color: black;
    transition: 0.5s;
}

.onHover:hover{
    background-color: black;
    color: white;
}

@media all and (min-width:300px) and (max-width:1000px){
    .navBar-link{
        color: white;
        background-color: rgba(0, 0, 0, 0.658);
    }
}