
.intro{
    width: 80vw;
    align-self: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro div h3, .intro div h5{
    padding: 0px 40px;
    text-align: center;
}

.target{
    position:absolute;
    display: block;
    font-size: 1.7em;
    margin-left:auto;
    margin-right: auto;
    left:0;
    right:0;
    text-align: center;
    top:350px;
}


@media all and (min-width: 300px) and (max-width: 400px){

    .movingText{
        font-size: 1em;
        left: 25vw;
    }
}

@media all and (min-width: 1200px){

    .movingText{
        left: 33vw;
    }
}