@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.projects{
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    padding: 50px;
}

.projecol{
    height: 40vh;
    margin: 0;
}

.projecol .col-6, .projecol .col-12{
    padding: 30px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.card-body .btn{
    align-self: flex-end;
    display: block;
}

.botones{
    display: flex;
    justify-content: flex-end;
}


@media all and (min-width: 300px) and (max-width:450px){
    .projects{
        margin-top: 110vh;
        padding: 20px;
    }

    .projecol .col-6, .projecol .col-12{
        padding: 30px 0px;
    }
}



@media all and (min-width:450px) and (max-width:800px){
    .projects{
        margin-top: 70vh;
    }

    .projecol .col-6, .projecol .col-12{
        padding: 30px 5px;
    }
}